.auth-button {
    width: 350px;
    height: 30px;
    margin-bottom: 14px;
    background-color: var(--purlple);
}

.auth-button:disabled {
    width: 350px;
    height: 30px;
    margin-bottom: 14px;
    background-color: var(--purlple-disabled);
}