.password-update-container h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 48px;
}

.password-update-container b {
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 16px;
}

.password-update-container input {
    height: 24px;
    margin-bottom: 6px;
    padding-left: 10px;
    border-width: 1px;
    height: 34px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--m-gray);
}

.password-update-form {
    width: 356px;
}

.password-update-container .helper-text {
    margin-bottom: 8px;
}

.password-update-container .update-button {
    margin-top: 10px;
    width: 356px;
    height: 34px;
    background-color: var(--blue);
    color: white;
    border-radius: 8px;
}
.password-update-container .update-button:disabled {
    background-color: var(--blue-disabled);
    color: white;
}
