.password-update-container h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
}

.password-update-container b {
    font-weight: 700;
    margin-bottom: 12px;
}

.password-update-container input {
    height: 24px;
    padding-left: 10px;
}

.password-update-form {
    width: 356px;
}

.password-update-container .helper-text {
    margin-bottom: 8px;
}

.password-update-container .update-button {
    margin-top: 10px;
    width: 356px;
    height: 34px;
}