.post-edit-container h3 {
    font-weight: 700;
    font-size: 24px;
}

.post-edit-form {
    width: 570px;
}

.post-edit-form b {
    font-weight: 700;
}

.post-edit-form input {
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 6px;
}
.post-edit-form hr {
    width: 100%;
}

.post-edit-form .contents-text {
    margin-top: 25px;
}

.post-edit-form textarea {
    border: none;
    min-height: 280px;
    resize: none; 
    padding: 10px;
    border-radius: 6px;
}

.post-edit-container .submit-button {
    width: 356px;
    height: 34px;
    margin-top: 20px;
    background-color: var(--blue);
    color: white;
    border-radius: 8px;
}

.post-edit-container .submit-button:disabled {
    background-color: var(--blue-disabled);
    color: white;
}