.post-edit-form {
    width: 570px;
}

.post-edit-form input {
    border: none;
}
.post-edit-form hr {
  width: 100%;
}

.post-edit-form textarea {
    border: none;
    min-height: 280px;
    resize: none; 
}