.signin-container h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}

.signin-form {
    width: 356px;
}

.signin-container b {
    font-weight: 500;
    margin-bottom: 10px;
}

.signin-container input {
    height: 26px;
    padding-left: 10px;
    margin-bottom: 6px;
    border-radius: 4px;
    border-width: 1px;
}

.signin-container .helper-text {
    margin-bottom: 14px;
}

.signin-container a {
    color: black;
    font-size: 14px;
}