footer {
    margin-top: 100px;
    position : relative;
}

footer .footer-about {
    margin-left : 20px;
    margin-bottom: 40px;
}

footer h2, h3, h4{
    margin-bottom: 8px;
    font-size: 12px;
} 