header {
    width: 100%;
    grid-template-columns: 1fr auto 1fr; /* 좌 1fr / 가운데 콘텐츠 auto / 우 1fr */
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-title {
    color: var(--blue);
    font-weight: 500;
    font-size: 24px;
}

.after-login {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: -80px;
    bottom: -120px;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 18px;
    border-radius: 10px;
}

.dropdown-menu li {
    margin-left: 18px;
    margin-bottom: 16px;
}

.after-login img {
    width: 36px;
    height: 36px;
    border-radius: 24px;
    background-color: #D9D9D9;
}

.header-contents {
    margin-right: 24px;
}

.header-contents .signup-button {
    margin-right: 10px;
}

.header-contents .signin-button {
    margin-right: 10px;
}